{% extends 'ubio/base.html' %}
{% load bootstrap4 %}

{% block title %}
Edit profile
{% endblock %}

{% block header %}
Edit profile
{% endblock %}

{% block body %}
  <div class="d-flex">
    <img src="{{ profile.avatar.url }}" alt="avatar" class="img-fluid rounded-circle" style="max-width: 128px; max-height: 128px;">

    <div class="d-flex flex-column justify-content-between ml-4 py-3">
      <form action="{% url 'profile-update' pk=profile.pk %}" method="GET" id="fileForm"
            data-target="{%  url 'avatar-update' pk=profile.pk %}">
        <button class="btn btn-outline-secondary ubio-file-input">
          <input type="file" value="Choose file..." accept="image/*" >
          Change profile image
        </button>
      </form>
      <form action="{% url 'avatar-delete' pk=profile.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Delete profile image</button>
      </form>
    </div>
  </div>

  <hr>

  <div class="d-flex mt-4">
    <form action="" method="POST" class="flex-fill">
      {% bootstrap_messages %}
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value="Save" class="btn btn-outline-primary">
    </form>
  </div>
{#  <hr>#}
{#  <a href="#" class="href" data-toggle="modal" data-target="#uploadAvatarDialog">Upload avatar...</a>#}
{#  <a href="{% url 'avatar-update' pk=profile.pk %}">Upload avatar...</a>#}
{% endblock %}


{% block modals %}
{#  <div class="modal" id="uploadAvatarDialog">#}
{#    <div class="modal-dialog">#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <h5>Upload Avatar</h5>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#          <div class="container avatar-upload" style="min-height: 200px;">#}
{#            <div class="avatar-upload-msg avatar-file-input">#}
{#              <p>Upload a file to start cropping</p>#}
{#              <input type="file" value="Choose file..." accept="image/*">#}
{#            </div>#}
{#            <div class="avatar-upload-wrap avatar-file-input">#}
{#              <input type="file" value="Choose file..." accept="image/*">#}
{#              <div class="avatar-upload-frame"></div>#}
{#            </div>#}
{#            <div class="d-flex flex-wrap mt-5">#}
{#              <button class="btn btn-outline-info avatar-file-input mt-2 mt-sm-0">#}
{#                <input type="file" value="Choose file..." accept="image/*">#}
{#                <i class="far fa-file-image mr-1"></i> Upload...#}
{#              </button>#}
{#              <div class="ml-auto mt-2 mt-sm-0">#}
{#                <button class="btn btn-outline-info avatar-upload-control avatar-upload-control-rotate-left mr-1"><i class="fas fa-undo"></i></button>#}
{#                <button class="btn btn-outline-info avatar-upload-control avatar-upload-control-rotate-right"><i class="fas fa-redo"></i></button>#}
{#              </div>#}
{#            </div>#}
{#            <div class="d-flex mt-3">#}
{#              <form action="{% url 'profile-avatar-upload' %}" method="POST">#}
{#                {% csrf_token %}#}
{#                <input type="submit" value="Save avatar" class="btn btn-primary avatar-upload-control avatar-upload-control-result">#}
{#              </form>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{% endblock %}



{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.3/croppie.min.css">
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.3/croppie.min.js"></script>

{% csrf_token %}
<script>
const form = $('#fileForm');
form.find('input[type="file"]').change(function (event) {
  // `this` is an <input type="file"> (not a jQuery object, plain DOM!)
  var input = this;
  if (input.files && input.files[0]) {
    var data = new FormData(form.get(0));
    console.log(data);
    var reader = new FileReader();
    reader.onload = function (re) {
      var req = new XMLHttpRequest();
      req.open("POST", form.attr('data-target'), true);
      req.onload = function (xe) {
        console.log(req.status);
        form.submit();
      };
      data.append('avatar', re.target.result);
      data.append('csrfmiddlewaretoken', $('[name=csrfmiddlewaretoken]').val());
      req.send(data);
    };
    reader.readAsDataURL(input.files[0]);
  }
  event.preventDefault();
});
{#$()#}

//const avatarDialog = $('#uploadAvatarDialog');
//avatarDialog.on('shown.bs.modal', function () {
//  $(this).avatarUpload('attach', {extSize: 300, intSize: 250});
//});
//avatarDialog.on('hidden.bs.modal', function () {
//  $(this).avatarUpload('detach');
//});

</script>
{% endblock %}
