{% extends 'ubio/base.html' %}
{% load bootstrap4 %}

{% block title %}
{% endblock %}

{% block body %}
  {% bootstrap_messages %}
  <div class="d-flex mb-4">
    <img src="{{ profile.avatar.url }}" alt="" class="img-fluid mx-auto rounded-circle" style="width: 128px; height: 128px;">
  </div>
  <h1 class="text-center">{{ profile.first_name }} {{ profile.last_name }}</h1>
  {% if profile.pk == user.pk %}
    <p class="text-center"><a href="{% url 'profile-update' pk=profile.pk %}">Edit profile...</a></p>
  {% endif %}
  <hr>
  {% include 'notes/partials/notes_card_columns.html' with notes=notes %}
{% endblock %}
